@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,200&family=Playfair+Display:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #3F3F37;
    --white: #D6D6B1;
    --black: black;
}

body {
    background: rgb(15, 15, 15);
    background: linear-gradient(360deg, rgba(15, 15, 15, 1) 0%, rgba(63, 63, 55, 1) 100%);
    height: 100vh;
}

#topNavBar {
    background-color: var(--white);
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 2em;
    height: 70px;
}

ul,
li,
a {
    list-style: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: 2px;
}

#logoUser {
    position: absolute;
    right: 2px;
    top: 10px;
}

@media screen and (max-width:600px) {
    #topNavBar {
        margin-top: 0px;
        height: 50px;
        font-size: 1.5em;
    }

    #homeIcon {
        width: 60%;
    }

    #logoUser {
        width: 10%;
    }
}