.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bookContainer{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.bookItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 2em 1em 1em 1em;
}


#autor, #title {
    text-align: center;
    font-family: Montserrat, serif;
    color: var(--white);
}

#title {
    margin-top: 1vh;
    font-weight: bold;
    font-size: x-large;
    
}

#title:hover {
    color: white;
}

#autor {
    margin-top: 1em;
}

.bookImg {
    transition: ease-in-out 1s;
}

.bookImg:hover {
    border: 1.5px var(--white) solid;
}

/* responsividade */

@media (max-width:600px) {
    .bookContainer {
        flex-direction: column;
        margin-top: 4em;
    }
    .bookItem {
        margin-top: 1em;
        font-size: 1em;
    }

    body {
        min-height: 100vh;
    }
}

@media print {
    .bookItem {
        margin-top: 5vh;
    }
}